{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p class="display-3 ">Welcome back, {{ username }}!</p>
		
			<div class="modules container " >

				<div class="row ">
					<div class="module-card module-1 col-lg-5   ">

						<a href="{{ url_for('module1') }}"> 
							<h3 class="display-5">Module 1 - Generate From Scratch</h3>
							<p class="display-6">
								Synthesise data-sets without prior dataset. <br>
								set fields and generate data
							</p>
						</a>
					
					</div>

					<div class="module-card module-2 col-lg-6  offset-lg-1">

						<a href="{{ url_for('module2') }}"> 
							<h3 class="display-5">Module 2 - Generate From Data</h3>
							<p class="display-6">
								Generate synthetic data by learning from existing dataset,
								 while maintaining the data types and statistical trends

							</p>
						</a>
					
					</div>
				</div>

				<div class="row ">

					<div class="module-card module-3  col-12">

						<a href="{{ url_for('module3') }}"> 
							<h3 class="display-5">Module 3 - Compare Algorithms</h3>
							<p class="display-6">
								perform machine learning algorithm on uploaded data-sets, 
								to generate efficiency of different techniques
							</p>
						</a>
					
					</div>
				</div>

			</div>

{% endblock %}

